@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

svg path {
    fill:inherit;
    stroke:inherit;
    stroke-width:inherit;
}
body {
    font-family: 'Ubuntu', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1213px;
    margin: 0 auto;
}
.hide {
    display: none;
}
.show {
    display: block;
}

.wrap_sectionTitle {
    background-image: url(../img/textBgLayer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.text_sectionTitle {
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    line-height: 113.4%;
    vertical-align: top;
    color: #000;
    background: #fff;
    mix-blend-mode: lighten; 

    &.gray {
        background: #F9F9F9;
    }
    
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: auto;
    opacity: 45%;

    &.revers {
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
}



// Buttons styles
.btn {
    width: 170px;
    height: 48px;
    background: linear-gradient(180deg, #F8BD7A 0%, #AB6E36 100%);
    border: 1px solid #F8BD7A;
    box-sizing: border-box;
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;

    &.aboutBtn {
        width: 256px;
        margin: 0 auto;
        position: relative;
        z-index: 3;
        
    }
    &.progBtn {
        width: 272px;
        margin: 60px 0px 0px 40px;
    }
    &.price_bth {
        margin: 32px auto 0px;
    }
    &.modalBtn {
        width: 147px;
    }

    &:hover {
        color: #D0935A;
        background: #fff;
        transition: 0.8s;
    }
    &:focus {
        outline: none;
    }
}



// Blocks
.header {
    
    // background-position: center;
    
    
    position: relative;
    z-index: 3;

    &_wrap {
        position: absolute;
        background-image: url(../img/BANER.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    .title {
        font-weight: bold;
        font-size: 96px;
        line-height: 95px;
        text-align: center;
        color: #FFFFFF;
        max-width: 672px;
        max-height: 190px;
        margin: 0 auto;
        padding: 396px 0px 85px;
    }
}

.navigation {
    background-color: rgba(255, 255, 255, 0.8);
    position: sticky;
    top: 0;
    z-index: 9;
    
    &_wrap {
        display: flex;
        align-items: baseline;
        max-width: 1213px;
        margin: 0 auto;
        }

    &_logo {
        background-image: url(../img/logo.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        min-width: 173px;
        height: 44px;
        margin: auto 0;
    }

    &_menu ul {
        display: flex;
        padding: 34px 22px 31px 0px;

        li {
            margin: 0px 15px;

            a {
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                color: #3D3D3D;

                &:hover {
                    color: #5FB5BF;
                    border-bottom: 1px solid #5FB5BF;
                    transition: 0.5s;
                }
            }
        } 
    }

    &_contact {
        display: flex;
        align-items: center;
        align-self: center;
        margin-left: 41.5px;

        svg {
            fill: #333333;
            stroke: #333333;
        }

        p {
            font-family: Roboto;
            font-weight: 300;
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;
            color: #595959;
        }

        :hover {
            color: #5fb5bf;
            transition: 0.5s;
            fill: #5fb5bf;
            stroke: #5fb5bf;
            
            &+p {
                color: #5fb5bf;
                transition: 0.5s;
            }
        }
    }
    .burger{
        

        &_btn {
            display: none;
            background: transparent;
            position: absolute;
            top: 36px;
            right: 36px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            font-size: 0;
            box-shadow: none;
            width: 38px;
            height: 26px;
            cursor: pointer;
            border: none;

            span {
                display: block;
                position: absolute;
                top: 8px;
                height: 3px;
                background: #5FB5BF;
                width: 100%;
                


                &::before,
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 3px;
                    background: #5FB5BF;
                    width: 100%;
                    
                }
            }
            span::before {
                top: -8px;
            }
            span::after {
                top: 8px;
            }

            
        }
        &:focus {
            outline: none;
        }
    
    }
}

.burgerMenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.9);

    &_block {
        font-weight: bold;
        font-size: 36px;
        line-height: 41px;
        text-transform: uppercase;
        margin-top: 68px;
        text-align: center;
        
        a {
            color: #3D3D3D;

            &:hover {
                color: #5FB5BF;
                border-bottom: 2px solid #5FB5BF;
                transition: 0.5s;
            }
        }
    }
    .burger {
        display: none;
    }

    .close {

        &_burger {
            // display: none;
            background: transparent;
            position: absolute;
            top: 32px;
            right: 38px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            font-size: 0;
            box-shadow: none;
            width: 40px;
            height: 30px;
            cursor: pointer;
            border: none;

            span {
                display: block;
                position: absolute;
                top: 12px;
                height: 4px;
                background: #5FB5BF;
                width: 100%;
                transform: rotateZ(40deg);

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 4px;
                    background: #5FB5BF;
                    width: 100%;  
                }
            }
            span::after {
                top: 0px;
                transform: rotateZ(97deg);
            }
        }
    }
}

.about {

    margin: 665px 0px 73px;
    color: #2E2E2E;
    position: relative;
    
    
    &_pic {
        background-image: url(../img/sec1img.png);
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        width: 750px;
        height: 900px;
        top: -250px;
        right: 0;
        z-index: 2;
    }
    &_block {
        max-width: 60%;
        margin-left: 40px;
    }
    &_textField {

        p {
            font-size: 23px;
            line-height: 36px;
            margin: 31px 0px 60px;
            max-width: 670px;

            span {
                font-weight: bold;
            }

        }
    }

    &_cardsWrap {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 680px;
        margin-bottom: 50px;


        p {
            font-size: 16px;
            line-height: 21px;
            margin-left: 20px;

        }
    }
    &_card {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        width: 45%;

        &.advantage {
            width: 100%;
            margin-top: 35px;

            p {
                margin-left: 20px;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

.advantages {
    
    position: relative;

    &_pic {
        position: absolute;
        background-image: url(../img/sec2img.png);
        background-repeat: no-repeat;
        width: 830px;
        height: 1100px;
        top: -250px;
        left: 0;
        z-index: 2;
        background-size: contain;
    }
    &_block {
        width: 60%;
        margin-left: 35%;
    }
    &_list {
        margin-top: 60px;
        position: relative;
    }
    &_wrap {
        padding: 70px 0 87px;
    }
    


}

.howItWorks {

    display: none;
    margin-bottom: 95px;

    &_block {
        margin: 0 auto;
        text-align: center;

        p {
            font-weight: 300;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #2E2E2E;
            margin-top: 62px;
        }
    }

    .firstSteps {
        display: flex;  
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 74px;

        &_step {
            width: 33%;
            
        }
    }

    
    &_secondarySteps {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 31px 0 47px;
    }
    &_secondaryStep {
        width: 15%;

        p {
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #333333;
        }
    }
    &_advancedPic {
        padding: 0 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.program {

    padding: 101px 0px;
    position: relative;

    &_pic {
        position: absolute;
        background-image: url(../img/sec3img.png);
        // background-image: url(../img/sec3img-alt.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 100%;
        width: 855px;
        height: 823px;
        top: -95px;
        right: 0;
        
    }
    &_block {
        width: 60%;
        margin-left: 70px;
    }
    &_description {
    
    
        li{
            padding-left: 39px;
            margin-bottom: 30px;
            position: relative;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            color: #2E2E2E;

            &::before {
                content: url(../img/listCheck.svg);
                height: 25px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        ul {
            padding-left: 40px;
        }
    
        

        h5 {
            font-size: 23px;
            line-height: 36px;
            margin: 51px 0px 44px;
            
        }
    }  
}

.price {

    color: #2E2E2E;
    background: #F9F9F9;
    position: relative;

    &_block {
        padding: 75px 0 89px;
        max-width: 80%;
        margin: 0 auto;
        position: relative;
    }
    .title_wrap {
        display: flex;
        align-items: baseline;
        justify-content: center;
        padding-bottom: 11px;

        p {
            font-weight: 300;
            font-size: 24px;
            line-height: 36px;
            margin-left: 35px;

            span {
                font-weight: bold;
                margin-left: 5px;
            }
        }
    }

    .price_table {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    
        .table {
            max-width: 430px;
            color: #000000;
            font-size: 14px;
            padding-top: 37px;
        
            .tableTitle {
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #3D3D3D;
                padding: 0px 45px 32px 45px;
            }
        
            .tableColTitle {
                display: flex;
                justify-content: space-around;
                padding-bottom: 17px;
                border-bottom: 2px solid black;
                line-height: 17px;
                align-items: center;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
        
                &_time {
                    width: 85px;
                }
                &_price {
                    width: 97px;
        
                    span {
                        text-transform: none;
                    }
                }
            }
            .tableColPrice {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
        
                &_sum {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 75px 10px 53px;
        
                    &:nth-of-type(2n) {
                        background: #FDDFBD;
                        border-radius: 5px;
                    }
                }
                
            }
        }
    }
}

.reviews {


    position: relative;

    &_pic {
        background-image: url(../img/like.png);
        position: absolute;
        background-repeat: no-repeat;
        width: 580px;
        height: 680px;
        top: 45px;
        left: 0;
        z-index: -1;
    }
    &_block {
        padding: 84px 0px 100px 0px;
        max-width: 756px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-left: 30%;
        
    }
    &_wrap {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    &_nav {
        display: flex;
        justify-content: space-around;
        width: 350px;
        margin: 0 auto;
        padding-top: 50px;

        .circ {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #E3E3E3;
            cursor: pointer;

            &.active {
                background-color: #D0935A;
            }
        }

        .arrowLeft,
        .arrowRight {
            width: 68px;
            cursor: pointer;

            &.false {
                fill: #E3E3E3;
                stroke: #E3E3E3;
            }
        }  
    }

    .review {
        display: flex;
        align-items: center;
        margin: 38px 0px 33px;

        &.hidden {
            display: none;
        }

        &_user {
            text-align: center;

            h4 {
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                color: #000000;
            }

            p {
                color: #AB6E36;
                font-size: 14px;
                line-height: 16px;
                margin-top: 5px;
            }
        }
        &_text {
            font-style: italic;
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            color: #333333;
            position: relative;
            padding: 15px 0px 0px 51px;

            &::before {
                content: url(../img/quotes.png);
                position: absolute;
                width: 42px;
                height: 58px;
                top: 0;
                left: 0;
            }
        }
    }
}

.contacts {
    font-size: 20px;
    line-height: 38px;
    letter-spacing: 0.085em;
    color: #3D3D3D;
    padding: 62px 0 67px;
    background: #F9F9F9;
    position: relative;


    &_block {
        position: relative;
    }

    .form_field {
        width: 100%;
        height: 50px;
        background: #FFFFFF;
        border: 1px solid #C9C9C9;
        box-sizing: border-box;
        border-radius: 5px;
        margin: 15px 0px 22px;
        font-size: 14px;
        line-height: 16px;
        padding-left: 10px;

        &:focus {
            border: 1px solid red;
        }  
    }
    .textarea {
        width: 100%;
        height: 300px;
        background: #FFFFFF;
        border: 1px solid #C9C9C9;
        box-sizing: border-box;
        border-radius: 5px;
        margin-top: 14px;
        font-size: 14px;
        line-height: 16px;
        padding: 10px 0 0 10px;
        &:focus {
            border: 1px solid red;
        }  
    }

    &_title {
        width: 225px;
        margin: 0 auto;
    }

    &_wrap {
        display: flex;
        margin-top: 60px;
    }  

    &_field {
        width: 30%;
        text-align: center;
        display: flex;
        flex-direction: column;

        h3 {
            font-weight: bold;
            font-size: 24px;
        }

        .mails {
            margin-top: 55px;
        }

        .mails a {
            color: #5fb5bf;
            border-bottom: 2px solid #5fb5bf;

            &:hover {
                color: #D0935A;
                border-bottom: 2px dotted #D0935A;
                transition: 0.5s;
            }
            
        }

        .hot_line {
            margin-top: 35px;
        }
        .hot_line a {
            color: #3D3D3D;
        }

        .social {
            display: flex;
            justify-content: space-between;
            width: 137px;
            margin: 0 auto;
            padding-top: 30px;
            border-bottom: 2px solid transparent;

            a {
                fill: #5fb5bf;
                stroke: #5fb5bf;

                :hover {
                    fill: #333333;
                    stroke: #333333;
                }
            }
            

        }
    }

    &_formBlock {
        width: 70%;
    }
    &_form {
        display: flex;
        width: 100%;
        position: relative;

        .formBtn {
            position: absolute;
            top: 380px;
        }
        

        label {
            font-size: 11px;
            line-height: 16px;
            color: #505050;
        }

        &__fields {
            width: 48%;
        }
        &__textarea {
            margin-left: 34px;   
            width: 48%;
        }
    }
}

.footer {
    background-color: #333333;
    position: relative;

    &_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #FFFFFF;
        padding: 13px 0px 11px;

        
        p {
            font-size: 14px;
            line-height: 16px;
        }
    }
    &_logo {
        display: block;
        background-image: url(../img/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 173px;
        height: 44px;
    }
    &_developerLink {
        display: flex;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 16px;

        span {
            text-decoration-line: underline;
        }

        p {
            padding: 0px 6px 0px 4px;
        }
    }
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);


    &__dialog{
        max-width: 414px;
        margin: 131px auto;
    }
    &__content{
        position: relative;
        width: 100%;
        padding: 19px 29px 30px;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 4px;
        max-height: 80vh;
        overflow-y: auto;
    }
    &__close{
        position: absolute;
        top: 19px;
        right: 28px;
        font-size: 30px;
        color: #3D3D3D;
        font-weight: 700;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    label {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #505050;
    }
    &__title{
        font-weight: bold;
        font-size: 24px;
        line-height: 38px;
        letter-spacing: 0.085em;
        color: #3D3D3D;
        margin-bottom: 18px;
    }
    &__input{
        display: block;
        margin: 16px 0 20px;
        width: 100%;
        height: 50px;
        padding-left: 15px;
        background: #F9F9F9;
        border: 1px solid #C9C9C9;
        box-sizing: border-box;
        border-radius: 5px;
        outline:0;
    }
}


//Adaptive styles
@media (min-width : 1681px) and (max-width : 1794px) {

    .text_sectionTitle {
        font-size: 37px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .navigation {

        &_wrap {
            padding: 20px 0 17px;
            max-width: 95%;
        }
        &_logo {
            margin-right: 150px;
        }
        &_menu {
            display: block;
        }
        &_contact {
            margin-left: 47px;
        }
        .burger {
            display: none;
        } 
    }

    .header_wrap {
        background-position: center;
    }

    .about {

        &_pic {
            width: 650px;
            height: 900px;
            top: -240px;
            background-size: contain;
        }
        &_block {
            max-width: 100%;
        }
        &_textField p {
            max-width: 60%;
            font-size: 17px;
            line-height: 27px;
        }
        &_cardsWrap {
            width: 100%;
            justify-content: space-between;
        }

        
    }

    .advantages {

        &_pic {
            width: 610px;
            height: 1100px;
            top: -131px;
            left: 0;
            background-size: contain;
        }
        &_wrap {
            padding: 70px 0 87px;
        }

        &_list {
            font-size: 16px;
            line-height: 150.5%;
        }
    }

    .program {

        &_pic {
            display: visible;
            width: 540px;
            height: 610px;
            top: -95px;
            right: 0;
            z-index: 2;
        }
        &_block {
            width: 100%;
            margin: 0 auto;
        }
        &_description {
            font-size: 23px;

            h5 {
                font-size: 18px;
                line-height: 26px;
            }

            li {
                font-size: 15px;
                line-height: 23px;
            }
        }
    }

    .howItWorks {

        &_block {

            p {
                font-size: 18px;
                line-height: 26px;
            }
        }

        .firstSteps {

            margin-top: 14px;

            &_step {
                width: 45%;
                margin-top: 40px;
            }
        }
        &_secondarySteps {
            margin: 0 0 30px;
        }
        &_secondaryStep {
            width: 33%;
            margin-top: 15px;

            p {
                margin-top: 15px;
                font-size: 15px;
            }
        }
        &_advancedPic {

            justify-content: space-between;
            padding: 0;
            
            img {
                width: 40%;
                margin-top: 25px;
            }
        }
        
        

    }

    .reviews {

        &_block {
            width: 100%;
            margin-left: 20%;
        }
        &_pic {
            height: 600px;
            width: 700px;
            background-size: cover;
            top: -65px;
            
        }

        .wrap_sectionTitle {
            margin-left: 30%;
        }

        .circ:nth-of-type(3) {
            display: block;
        }
        
        .review {
            flex-direction: column;
            align-items: flex-start;

            &:nth-of-type(2) {
                display: none;
            }
            &_user {
                margin-left: 40%;
            }
            &_text {
                margin: 33px 0px 0px 110px;
                width: 530px;

            }
        }
    }

    .contacts {


        &_wrap {
            flex-direction: column;
            margin-top: 40px;
        }
        &_title {
            width: 178px;
        }
        &_field {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            padding-bottom: 40px;

                .social {
                    
                    width: 140px;

                    a {
                        fill: #333333;
                        stroke: #333333;
                        
        
                        :hover {
                            fill: #5fb5bf;
                            stroke: #5fb5bf;
                        }
                        svg {
                            width: 27px;
                        }
                    }
                }

            h3 {
                font-size: 20px;
            }

            .adress {
                width: 33%;
                font-size: 15px;
            }
            .mails {
                width: 36%;
                font-size: 15px;
            }
            .hot_line {
                width: 30%;
                font-size: 15px;
            }
        }
        &_formBlock {
            width: 100%;
        }
        &_form {
            width: 100%;
            justify-content: space-between;

            &__fields {
                width: 50%;
            }
            &__textarea {
                width: 50%;
            }
        }

        .textarea {
            width: 100%;
        }

    }  
    
}
@media (min-width : 1421px) and (max-width : 1680px) {

    .text_sectionTitle {
        font-size: 37px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .navigation {

        &_wrap {
            padding: 20px 0 17px;
            max-width: 95%;
        }
        &_logo {
            margin-right: 150px;
        }
        &_menu {
            display: block;
        }
        &_contact {
            margin-left: 47px;
        }
        .burger {
            display: none;
        } 
    }

    .header_wrap {
        background-position: center;
    }

    .about {

        &_pic {
            width: 650px;
            height: 900px;
            top: -240px;
            background-size: contain;
        }
        &_block {
            max-width: 100%;
        }
        &_textField p {
            max-width: 60%;
            font-size: 17px;
            line-height: 27px;
        }
        &_cardsWrap {
            width: 100%;
            justify-content: space-between;
        }

        
    }

    .advantages {

        &_pic {
            width: 610px;
            height: 1100px;
            top: -131px;
            left: 0;
            background-size: contain;
        }
        &_wrap {
            padding: 70px 0 87px;
        }

        &_list {
            font-size: 16px;
            line-height: 150.5%;
        }
    }

    .program {

        &_pic {
            display: none;
        }
        &_block {
            width: 100%;
            margin: 0 auto;
        }
        &_description {
            font-size: 23px;

            h5 {
                font-size: 18px;
                line-height: 26px;
            }

            li {
                font-size: 15px;
                line-height: 23px;
            }
        }
    }

    .howItWorks {

        &_block {

            p {
                font-size: 18px;
                line-height: 26px;
            }
        }

        .firstSteps {

            margin-top: 14px;

            &_step {
                width: 45%;
                margin-top: 40px;
            }
        }
        &_secondarySteps {
            margin: 0 0 30px;
        }
        &_secondaryStep {
            width: 33%;
            margin-top: 15px;

            p {
                margin-top: 15px;
                font-size: 15px;
            }
        }
        &_advancedPic {

            justify-content: space-between;
            padding: 0;
            
            img {
                width: 40%;
                margin-top: 25px;
            }
        }
        
        

    }

    .reviews {

        &_block {
            width: 100%;
            margin-left: 20%;
        }
        &_pic {
            height: 600px;
            width: 700px;
            background-size: cover;
            top: -65px;
        }

        .wrap_sectionTitle {
            margin-left: 30%;
        }

        .circ:nth-of-type(3) {
            display: block;
        }
        
        .review {
            flex-direction: column;
            align-items: flex-start;

            &:nth-of-type(2) {
                display: none;
            }
            &_user {
                margin-left: 40%;
            }
            &_text {
                margin: 33px 0px 0px 110px;
                width: 530px;

            }
        }
    }

    .contacts {


        &_wrap {
            flex-direction: column;
            margin-top: 40px;
        }
        &_title {
            width: 178px;
        }
        &_field {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            padding-bottom: 40px;

                .social {
                    
                    width: 140px;

                    a {
                        fill: #333333;
                        stroke: #333333;
                        
        
                        :hover {
                            fill: #5fb5bf;
                            stroke: #5fb5bf;
                        }
                        svg {
                            width: 27px;
                        }
                    }
                }

            h3 {
                font-size: 20px;
            }

            .adress {
                width: 33%;
                font-size: 15px;
            }
            .mails {
                width: 36%;
                font-size: 15px;
            }
            .hot_line {
                width: 30%;
                font-size: 15px;
            }
        }
        &_formBlock {
            width: 100%;
        }
        &_form {
            width: 100%;
            justify-content: space-between;

            &__fields {
                width: 50%;
            }
            &__textarea {
                width: 50%;
            }
        }

        .textarea {
            width: 100%;
        }

    }  
    
}
@media (min-width : 1280px) and (max-width : 1420px) {

    .text_sectionTitle {
        font-size: 37px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .navigation {

        &_wrap {
            padding: 20px 0 17px;
            max-width: 95%;
        }
        &_logo {
            margin-right: 20px;
        }
        &_menu {
            display: block;
        }
        &_contact {
            margin-left: 35px;
        }
        .burger {
            display: none;
        } 
    }

    .header_wrap {
        background-position: center;
    }

    .about {

        &_pic {
            width: 590px;
            height: 800px;
            top: -230px;
            background-size: contain;
        }
        &_block {
            max-width: 100%;
        }
        &_textField p {
            max-width: 60%;
            font-size: 17px;
            line-height: 27px;
        }
        &_cardsWrap {
            width: 100%;
            justify-content: space-between;
        }

        
    }

    .advantages {

        &_pic {
            width: 515px;
            height: 755px;
            top: -40px;
            left: 0;
            background-size: contain;
        }
        &_wrap {
            padding: 70px 0 87px;
        }

        &_list {
            font-size: 16px;
            line-height: 150.5%;
        }
    }

    .program {

        &_pic {
            display: none;
        }
        &_block {
            width: 100%;
            margin: 0 auto;
        }
        &_description {
            font-size: 23px;

            h5 {
                font-size: 18px;
                line-height: 26px;
            }

            li {
                font-size: 15px;
                line-height: 23px;
            }
        }
    }

    .howItWorks {

        &_block {

            p {
                font-size: 18px;
                line-height: 26px;
            }
        }

        .firstSteps {

            margin-top: 14px;

            &_step {
                width: 45%;
                margin-top: 40px;
            }
        }
        &_secondarySteps {
            margin: 0 0 30px;
        }
        &_secondaryStep {
            width: 33%;
            margin-top: 15px;

            p {
                margin-top: 15px;
                font-size: 15px;
            }
        }
        &_advancedPic {

            justify-content: space-between;
            padding: 0;
            
            img {
                width: 40%;
                margin-top: 25px;
            }
        }
        
        

    }

    .reviews {

        &_block {
            width: 100%;
            margin-left: 15%;
        }
        &_pic {
            height: 600px;
            width: 540px;
            background-size: cover;
            top: -65px;
        }

        .wrap_sectionTitle {
            margin-left: 30%;
        }

        .circ:nth-of-type(3) {
            display: block;
        }
        
        .review {
            flex-direction: column;
            align-items: flex-start;

            &:nth-of-type(2) {
                display: none;
            }
            &_user {
                margin-left: 40%;
            }
            &_text {
                margin: 33px 0px 0px 110px;
                width: 530px;

            }
        }
    }

    .contacts {


        &_wrap {
            flex-direction: column;
            margin-top: 40px;
        }
        &_title {
            width: 178px;
        }
        &_field {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            padding-bottom: 40px;

                .social {
                    
                    width: 140px;

                    a {
                        fill: #333333;
                        stroke: #333333;
                        
        
                        :hover {
                            fill: #5fb5bf;
                            stroke: #5fb5bf;
                        }
                        svg {
                            width: 27px;
                        }
                    }
                }

            h3 {
                font-size: 20px;
            }

            .adress {
                width: 33%;
                font-size: 15px;
            }
            .mails {
                width: 36%;
                font-size: 15px;
            }
            .hot_line {
                width: 30%;
                font-size: 15px;
            }
        }
        &_formBlock {
            width: 100%;
        }
        &_form {
            width: 100%;
            justify-content: space-between;

            &__fields {
                width: 50%;
            }
            &__textarea {
                width: 50%;
            }
        }

        .textarea {
            width: 100%;
        }

    }  
    
}
@media (min-width : 1201px) and (max-width : 1279px) {

    .text_sectionTitle {
        font-size: 37px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .navigation {

        &_wrap {
            padding: 20px 0 17px;
            max-width: 95%;
        }
        &_logo {
            margin-right: 200px;
        }
        &_menu {
            display: none;
        }
        &_contact {
            margin-left: 47px;
        }
        .burger {
            display: block;

            &_btn {
                display: block;
            }
        } 
    }

    .header_wrap {
        background-position: center;
    }

    .about {

        &_pic {
            width: 480px;
            height: 100%;
            top: -160px;
            background-size: contain;
        }
        &_block {
            max-width: 100%;
        }
        &_textField p {
            max-width: 60%;
            font-size: 17px;
            line-height: 27px;
        }
        &_cardsWrap {
            width: 100%;
            justify-content: space-between;
        }

        
    }

    .advantages {

        &_pic {
            width: 500px;
            height: 733px;
            top: -30px;
            left: 0;
            background-size: contain;
        }
        &_wrap {
            padding: 70px 0 87px;
        }

        &_list {
            font-size: 16px;
            line-height: 150.5%;
        }
    }

    .program {

        &_pic {
            display: none;
        }
        &_block {
            width: 100%;
            margin: 0 auto;
        }
        &_description {
            font-size: 23px;

            h5 {
                font-size: 18px;
                line-height: 26px;
            }

            li {
                font-size: 15px;
                line-height: 23px;
            }
        }
    }

    .howItWorks {

        &_block {

            p {
                font-size: 18px;
                line-height: 26px;
            }
        }

        .firstSteps {

            margin-top: 14px;

            &_step {
                width: 45%;
                margin-top: 40px;
            }
        }
        &_secondarySteps {
            margin: 0 0 30px;
        }
        &_secondaryStep {
            width: 33%;
            margin-top: 15px;

            p {
                margin-top: 15px;
                font-size: 15px;
            }
        }
        &_advancedPic {

            justify-content: space-between;
            padding: 0;
            
            img {
                width: 40%;
                margin-top: 25px;
            }
        }
        
        

    }

    .reviews {

        &_block {
            width: 100%;
            margin-left: 15%;
        }
        &_pic {
            height: 600px;
            width: 540px;
            background-size: cover;
            top: -65px;
        }

        .wrap_sectionTitle {
            margin-left: 30%;
        }

        .circ:nth-of-type(3) {
            display: block;
        }
        
        .review {
            flex-direction: column;
            align-items: flex-start;

            &:nth-of-type(2) {
                display: none;
            }
            &_user {
                margin-left: 40%;
            }
            &_text {
                margin: 33px 0px 0px 110px;
                width: 530px;

            }
        }
    }

    .contacts {


        &_wrap {
            flex-direction: column;
            margin-top: 40px;
        }
        &_title {
            width: 178px;
        }
        &_field {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            padding-bottom: 40px;

                .social {
                    
                    width: 140px;

                    a {
                        fill: #333333;
                        stroke: #333333;
                        
        
                        :hover {
                            fill: #5fb5bf;
                            stroke: #5fb5bf;
                        }
                        svg {
                            width: 27px;
                        }
                    }
                }

            h3 {
                font-size: 20px;
            }

            .adress {
                width: 33%;
                font-size: 15px;
            }
            .mails {
                width: 36%;
                font-size: 15px;
            }
            .hot_line {
                width: 30%;
                font-size: 15px;
            }
        }
        &_formBlock {
            width: 100%;
        }
        &_form {
            width: 100%;
            justify-content: space-between;

            &__fields {
                width: 50%;
            }
            &__textarea {
                width: 50%;
            }
        }

        .textarea {
            width: 100%;
        }

    }  
    
}
@media (min-width : 937px) and (max-width : 1200px) {

    .text_sectionTitle {
        font-size: 37px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .navigation {

        &_wrap {
            padding: 20px 0 17px;
            max-width: 95%;
        }
        &_logo {
            margin-right: 150px;
        }
        &_menu {
            display: none;
        }
        &_contact {
            margin-left: 47px;
        }
        .burger_btn {
            display: block;
        } 
    }

    .header_wrap {
        background-position: center;
    }

    .about {

        &_pic {
            width: 400px;
            height: 100%;
            top: -160px;
            background-size: contain;
        }
        &_block {
            max-width: 100%;
        }
        &_textField p {
            max-width: 60%;
            font-size: 17px;
            line-height: 27px;
        }
        &_cardsWrap {
            width: 100%;
            justify-content: space-between;
        }

        
    }

    .advantages {

        &_pic {
            width: 410px;
            height: 100%;
            top: 60px;
            left: 0;
            background-size: contain;
        }
        &_wrap {
            padding: 70px 0 87px;
        }

        &_list {
            font-size: 16px;
            line-height: 150.5%;
        }
    }

    .program {

        &_pic {
            display: none;
        }
        &_block {
            width: 100%;
            margin: 0 auto;
        }
        &_description {
            font-size: 23px;

            h5 {
                font-size: 18px;
                line-height: 26px;
            }

            li {
                font-size: 15px;
                line-height: 23px;
            }
        }
    }

    .howItWorks {

        &_block {

            p {
                font-size: 18px;
                line-height: 26px;
            }
        }

        .firstSteps {

            margin-top: 14px;

            &_step {
                width: 45%;
                margin-top: 40px;
            }
        }
        &_secondarySteps {
            margin: 0 0 30px;
        }
        &_secondaryStep {
            width: 33%;
            margin-top: 15px;

            p {
                margin-top: 15px;
                font-size: 15px;
            }
        }
        &_advancedPic {

            justify-content: space-between;
            padding: 0;
            
            img {
                width: 40%;
                margin-top: 25px;
            }
        }
        
        

    }

    .reviews {

        &_block {
            width: 100%;
            margin-left: 15%;
        }
        &_pic {
            height: 600px;
            width: 540px;
            background-size: cover;
            top: -65px;
        }

        .wrap_sectionTitle {
            margin-left: 30%;
        }

        .circ:nth-of-type(3) {
            display: block;
        }
        
        .review {
            flex-direction: column;
            align-items: flex-start;

            &:nth-of-type(2) {
                display: none;
            }
            &_user {
                margin-left: 40%;
            }
            &_text {
                margin: 33px 0px 0px 110px;
                width: 530px;

            }
        }
    }

    .contacts {


        &_wrap {
            flex-direction: column;
            margin-top: 40px;
        }
        &_title {
            width: 178px;
        }
        &_field {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            padding-bottom: 40px;

                .social {
                    
                    width: 140px;

                    a {
                        fill: #333333;
                        stroke: #333333;
                        
        
                        :hover {
                            fill: #5fb5bf;
                            stroke: #5fb5bf;
                        }
                        svg {
                            width: 27px;
                        }
                    }
                }

            h3 {
                font-size: 20px;
            }

            .adress {
                width: 33%;
                font-size: 15px;
            }
            .mails {
                width: 36%;
                font-size: 15px;
            }
            .hot_line {
                width: 30%;
                font-size: 15px;
            }
        }
        &_formBlock {
            width: 100%;
        }
        &_form {
            width: 100%;
            justify-content: space-between;

            &__fields {
                width: 50%;
            }
            &__textarea {
                width: 50%;
            }
        }

        .textarea {
            width: 100%;
        }

    }  
    
}
@media (min-width : 768px) and (max-width : 936px) {
    

    .text_sectionTitle {
        font-size: 37px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .navigation {

        &_wrap {
            padding: 20px 0 17px;
            max-width: 95%;
        }
        &_logo {
            margin-right: 85px;
        }
        &_menu {
            display: none;
        }
        &_contact {
            margin-left: 47px;
        }
        .burger_btn {
            display: block;
        } 
    }

    .header_wrap {
        background-position: center;
    }

    .about {

        &_pic {
            width: 360PX;
            height: 100%;
            top: -169px;
        }
        &_block {
            max-width: 100%;
        }
        &_textField p {
            max-width: 60%;
            font-size: 17px;
            line-height: 27px;
        }
        &_cardsWrap {
            width: 100%;
            justify-content: space-between;
        }

        
    }

    .advantages {

        &_pic {
            width: 429px;
            height: 70%;
            top: 115px;
            left: 0;
            background-size: contain;
        }
        &_wrap {
            padding: 70px 0 87px;
        }

        &_list {
            font-size: 16px;
            line-height: 150.5%;
        }
    }

    .program {

        &_pic {
            display: none;
        }
        &_block {
            width: 100%;
            margin: 0 auto;
        }
        &_description {
            font-size: 23px;

            h5 {
                font-size: 18px;
                line-height: 26px;
            }

            li {
                font-size: 15px;
                line-height: 23px;
            }
        }
    }

    .howItWorks {

        &_block {

            p {
                font-size: 18px;
                line-height: 26px;
            }
        }

        .firstSteps {

            margin-top: 14px;

            &_step {
                width: 45%;
                margin-top: 40px;
            }
        }
        &_secondarySteps {
            margin: 0 0 30px;
        }
        &_secondaryStep {
            width: 33%;
            margin-top: 15px;

            p {
                margin-top: 15px;
                font-size: 15px;
            }
        }
        &_advancedPic {

            justify-content: space-between;
            padding: 0;
            
            img {
                width: 40%;
                margin-top: 25px;
            }
        }
        
        

    }

    .reviews {

        &_block {
            width: 100%;
            margin-left: 5%;
        }
        &_pic {
            height: 440px;
            width: 400px;
            background-size: cover;
            top: 20px;
            left: -40px;
        }

        .wrap_sectionTitle {
            margin-left: 30%;
        }

        .circ:nth-of-type(3) {
            display: block;
        }
        
        .review {
            flex-direction: column;
            align-items: flex-start;

            &:nth-of-type(2) {
                display: none;
            }
            &_user {
                margin-left: 40%;
            }
            &_text {
                margin: 33px 0px 0px 110px;
                width: 530px;

            }
        }
    }

    .contacts {


        &_wrap {
            flex-direction: column;
            margin-top: 40px;
        }
        &_title {
            width: 178px;
        }
        &_field {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            padding-bottom: 40px;

                .social {
                    
                    width: 140px;

                    a {
                        fill: #333333;
                        stroke: #333333;
                        
        
                        :hover {
                            fill: #5fb5bf;
                            stroke: #5fb5bf;
                        }
                        svg {
                            width: 27px;
                        }
                    }
                }

            h3 {
                font-size: 20px;
            }

            .adress {
                width: 33%;
                font-size: 15px;
            }
            .mails {
                width: 36%;
                font-size: 15px;
            }
            .hot_line {
                width: 30%;
                font-size: 15px;
            }
        }
        &_formBlock {
            width: 100%;
        }
        &_form {
            width: 100%;
            justify-content: space-between;

            &__fields {
                width: 50%;
            }
            &__textarea {
                width: 50%;
            }
        }

        .textarea {
            width: 100%;
        }

    }    
}
@media (min-width : 320px) and (max-width : 767px) {

    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .navigation button,
    .navigation_contact,
    .navigation_menu,
    .about_pic,
    .advantages_pic,
    .program_pic,
    .reviews_pic {
        display: none;
    }


    .btn {

        &.progBtn{
            margin: 0 auto;
        }
    }
    .wrap_sectionTitle {
        text-align: center;

        h3 {
            font-size: 38px;
        }
    }


    .header {

        &_wrap {
            position: absolute;
            background-image: url(../img/mobile_ban2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            background-position: center;
        }

        h2 {
            font-size: 47px;
            line-height: 47px;
        }
    }

    .navigation {

        &_wrap {
            width: 95%;
            padding: 7px 0 6px;
        }
        .burger_btn {
            display: block;
            top: 20px;
        } 
    } 

    .burgerMenu {
        
        ul {
            margin-bottom: 40px;
        }
    
        &_block {
            
            font-size: 24px;
            line-height: 28px;
            
            a {
                color: #3D3D3D;
    
                &:hover {
                    color: #5FB5BF;
                    border-bottom: 1px solid #5FB5BF;
                    transition: 0.5s;
                }
            }
        }
        .burger {
            display: flex;
            margin: 0 auto;
            width: 50%;
            
        }
        .close {

            &_burger {
                
                top: 18px;
                right: 34px;
            }
        }
    }
        
    .about {
        margin: 560px 0px 73px;

        &_block {
            text-align: center;
            margin: 0;
            max-width: 100%;
        }
        &_textField p {
            text-align: left;
            max-width: 100%;
            font-size: 18px;
            line-height: 27px;
        }
        &_cardsWrap {
            flex-direction: column;
        }
        &_card {
            width: 90%;
            justify-content: center;
        }
    }

    .advantages {

        &_wrap {
            padding: 39px 0 55px;
        }
        &_block {
            margin: 0;
            width: 100%;
            text-align: center;
        }
        &_list {
            margin-top: 36px;

            .advantage {
                text-align: left;
                justify-content: flex-start;
            }
        }
    }

    .program {
        padding: 47px 0px 65px; 

        &_block {
            width: 100%;
            margin: 0 auto;
        }
        &_description {

            h5 {
                font-size: 17px;
                line-height: 27px;
                margin: 35px 0 24px;
            }
            ul {
                padding-left: 10px;

                font-size: 15px;
            }
        }
    }

    .price {

        &_block {
            padding: 37px 0 55px;
            max-width: 100%;
        }
        .title_wrap {
            flex-direction: column;
            align-items: center;

            p {
                margin: 0;
                padding-top: 24px;
            }
        }
    }

    .howItWorks {

        &_block {

            p {
                font-size: 18px;
                line-height: 26px;
            }
        }

        .firstSteps {
            flex-direction: column;
            margin-top: 0;

            &_step {
                width: 100%;
                margin-top: 30px;
            }
        }
        &_secondarySteps {
            margin: 0 0 30px;
            flex-direction: column;
        }
        &_secondaryStep {
            display: flex;
            width: 100%;
            margin-top: 15px;
            align-items: center;

            img {
                width: 30%;
            }

            p {
                margin: 0;
                font-size: 15px;
                width: 70%;
            }
        }
    }

    .reviews {

        &_block {
            width: 100%;
            margin: 0;
        }

        .wrap_sectionTitle {
            margin: 0px;
        }
        .review {
            align-items: center;
            flex-direction: column;

            &:nth-of-type(2) {
                display: none;
            }
        }
        .review_user {
            margin: 0;
        }
        .review_text {
            width: 90%;
            margin: 26px 0 0 0;
            padding: 0 0 0 35px;

            &::before {
                top: -22px;
                left: 2px;
            }
        }

        &_nav {

            width: 55%;
            height: 20px;

            .circ {
                display: none;
            }
        }
    }

    .contacts {

        &_wrap {
            margin-top: 28px;
            flex-direction: column;
        }
        &_field {
            flex-direction: column;
            align-items: center;
            width: 100%;

            .social {
                    
                a {
                    fill: #333333;
                    stroke: #333333;

                    svg {
                        width: 27px;
                    }
                }
            }


            .adress,
            .mails,
            .hot_line {
                width: 90%;
            }
        }

        &_formBlock {
            width: 100%;
        }

        &_form {
            flex-direction: column;
            margin-bottom: 28px;

            &__fields,
            &__textarea {
                width: 100%;
                margin: 0;
            }

            .formBtn {
                top: 755px;
            }
        }
    }

    .footer_wrap {
        flex-direction: column;  
    }

    .footer_developerLink {
        margin-top: 5px;
    }

    .modal{
        
        &__dialog {
            max-width: 100%;
            margin: 51px 20px auto;
        }
        &__content {
            width: 80%;
        }
        form {
            width: 95%;
        }
        &__close {
            top: 23px;
            right: 42px;
        }
    }
}


#modal_error {
    font-weight: bold;
    font-size: 12px;
    color: red;
    position: absolute;
    right: 40px;
    top: 70px;
}
#pageForm_error {
    font-weight: bold;
    font-size: 14px;
    color: red;
    position: absolute;
    left: 26%;
    top: 0;
}

