@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");
:root {
  --menu-text-color:  #272727;
}

body {
  font-family: 'Poppins', sans-serif, 'Libre Baskerville', serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.navHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 24px 0px;
  font-family: 'Poppins', sans-serif;
}

.logo {
  display: block;
  background-image: url(../img/LOGO.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 97px;
  height: 27px;
}

.mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainMenu :nth-child(9) {
  margin-right: 0px;
}

.mainMenu :hover {
  border-bottom: 2px solid red;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainMenu :hover span {
  color: red;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainMenu a {
  color: var(--menu-text-color);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
  border-bottom: 2px solid transparent;
}

.mainMenu a .alwaysRed {
  color: red;
}

.banHeader {
  text-align: center;
  background-image: url(../img/hederBannerBG.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.banHeader .gradient {
  background-color: rgba(38, 39, 50, 0.85);
  z-index: 2;
  opacity: 70%;
  position: absolute;
  height: 100%;
  width: 100%;
}

.banHeader__wrap {
  position: relative;
  z-index: 2;
}

.banHeader .banTitle {
  width: 818px;
  color: #ffffff;
  font-family: "Libre Baskerville";
  font-size: 60px;
  font-weight: 400;
  padding-top: 175px;
  margin: 0 auto;
}

.banHeader .features {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 198px 176px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.banHeader .features h4 {
  padding-top: 35px;
}

.banHeader .features .feaPic {
  background-image: url(/img/head-icon1.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.banHeader .features .feaPic__two {
  background-image: url(/img/head-icon2.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.banHeader .features .feaPic__three {
  background-image: url(/img/head-icon3.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.banHeader .features .feaTitle {
  color: #38c695;
}

.banHeader .features .feaTitle__two {
  color: #b27cf5;
  padding-top: 35px;
}

.banHeader .features .feaTitle__three {
  color: #feb960;
}

.button {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  background-color: #fc5f45;
  border: none;
  margin-top: 45px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.button p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.AboutUs {
  margin: 150px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.AboutUs .AbUsPic {
  background-image: url(/img/aboutUs_photo.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  width: 50%;
  z-index: 1;
  position: relative;
}

.AboutUs .aboutBlock {
  padding: 75px 0px;
  width: 50%;
  z-index: 2;
  position: relative;
  background-color: #ffffff;
}
/*# sourceMappingURL=style.css.map */