@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");
:root {
  --menu-text-color:  #272727;
  --num-shadow: 1px 10px 5px gray;
  --section-num-color: #f0f0f0;
}

body {
  font-family: 'Poppins', sans-serif, 'Libre Baskerville', serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container__wrap {
  position: relative;
}

.section {
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.section__styles {
  text-align: center;
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.section__title {
  font-family: 'Libre Baskerville', serif;
  font-size: 50px;
  font-weight: bold;
  position: relative;
  padding: 145px 0 25px 0;
}

.section__num {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  color: var(--section-num-color);
  font-size: 273px;
  font-weight: bold;
  text-shadow: var(--num-shadow);
}

.section__num2 {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  color: var(--section-num-color);
  font-size: 273px;
  font-weight: bold;
  left: 120px;
  top: -25px;
  text-shadow: var(--num-shadow);
}

.section__subTitle {
  position: relative;
  font-size: 18px;
  color: #616161;
  padding-bottom: 80px;
}

.navHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 24px 0px;
  font-family: 'Poppins', sans-serif;
}

.logo {
  display: block;
  background-image: url(../img/LOGO.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 97px;
  height: 27px;
}

.mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainMenu :nth-child(9) {
  margin-right: 0px;
}

.mainMenu :hover {
  border-bottom: 2px solid red;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainMenu :hover span {
  color: red;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainMenu a {
  color: var(--menu-text-color);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
  border-bottom: 2px solid transparent;
}

.mainMenu a .alwaysRed {
  color: red;
}

.banHeader {
  text-align: center;
  background-image: url(../img/hederBannerBG.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.banHeader .gradient {
  background-color: rgba(38, 39, 50, 0.85);
  z-index: 2;
  opacity: 70%;
  position: absolute;
  height: 100%;
  width: 100%;
}

.banHeader__wrap {
  position: relative;
  z-index: 2;
}

.banHeader .banTitle {
  width: 818px;
  color: #ffffff;
  font-family: "Libre Baskerville";
  font-size: 60px;
  font-weight: 400;
  padding-top: 175px;
  margin: 0 auto;
}

.banHeader .features {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 198px 176px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.banHeader .features h4 {
  padding-top: 25px;
}

.banHeader .features .feaPic {
  background-image: url(../img/head-icon1.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.banHeader .features .feaPic__two {
  background-image: url(../img/head-icon2.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.banHeader .features .feaPic__three {
  background-image: url(../img/head-icon3.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.banHeader .features .feaTitle {
  color: #38c695;
}

.banHeader .features .feaTitle__two {
  color: #b27cf5;
}

.banHeader .features .feaTitle__three {
  color: #feb960;
}

.button {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  background-color: #fc5f45;
  border: none;
  margin-top: 45px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.button p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.AboutUs {
  margin: 150px 0px;
  font-family: 'Libre Baskerville', serif;
}

.AboutUs .AbUsPic {
  background-image: url(../img/aboutUsPic.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 555px;
  -webkit-box-shadow: 1px 1px 10px;
          box-shadow: 1px 1px 10px;
}

.AboutUs .aboutBlock {
  width: 50%;
  position: absolute;
  background-color: #ffffff;
  left: 500px;
  top: 140px;
  -webkit-box-shadow: 1px 1px 10px;
          box-shadow: 1px 1px 10px;
}

.AboutUs .aboutBlock__wrap {
  position: relative;
}

.AboutUs .aboutBlock__contentWrap {
  position: relative;
  padding: 0 82px;
}

.AboutUs .aboutBlock__title {
  font-size: 50px;
  font-weight: bold;
  padding: 95px 0 50px 0;
}

.AboutUs .aboutBlock__lineGradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3px;
}

.AboutUs .aboutBlock__lineGradient .red {
  background-color: #fc5f45;
  width: 25%;
}

.AboutUs .aboutBlock__lineGradient .green {
  background-color: #38c695;
  width: 25%;
}

.AboutUs .aboutBlock__lineGradient .purple {
  background-color: #b27cf5;
  width: 25%;
}

.AboutUs .aboutBlock__lineGradient .orange {
  background-color: #feb960;
  width: 25%;
}

.AboutUs .aboutBlock p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  padding-bottom: 105px;
}

.ourFocus {
  background-color: #f7f7f7;
  font-family: 'Poppins', sans-serif;
}

.ourFocus__Cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 150px;
}

.ourFocus__card {
  max-width: 260px;
  background-color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 10px 15px 5px #edebeb;
          box-shadow: 10px 15px 5px #edebeb;
}

.ourFocus__card img {
  padding-top: 60px;
  height: 55px;
}

.ourFocus__card__title {
  font-size: 20px;
  font-weight: 500;
  padding: 30px 0;
}

.ourFocus__card__text {
  font-size: 15px;
  color: #616161;
  padding: 0 30px 65px;
}

.ourFocus__card__line {
  height: 2px;
  background-color: #fc5f45;
}

.ourFocus__card__line__green {
  background-color: #38c695;
  height: 2px;
}

.ourFocus__card__line__purple {
  background-color: #b27cf5;
  height: 2px;
}

.ourFocus__card__line__orange {
  background-color: #feb960;
  height: 2px;
}

.videoSection {
  background-color: #3f4049;
}

.portfolio {
  font-family: 'Poppins', sans-serif;
}

.portfolio__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__card {
  width: 360px;
  height: 290px;
}

.team {
  background-color: #f7f7f7;
}
/*# sourceMappingURL=style.css.map */