@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');
@import 'vars.scss';



body {
    font-family: 'Poppins', sans-serif, 'Libre Baskerville', serif;
}
a {
    text-decoration: none;
    margin-bottom: 5px;
}
.container {
    max-width: 1140px;
    margin: 0 auto;

    &__wrap{
        position: relative;
    }
}

.section{
    position: relative;
    font-family: 'Poppins', sans-serif;

    &__styles{
        text-align: center;
        position: relative;
        width: 50%;
        margin: 0 auto;
    }

    &__title{
        font-family: 'Libre Baskerville', serif;
        font-size: 50px;
        font-weight: bold;
        position: relative;
        padding: 130px 0 25px 0;
    }

    &__num {
        font-family: 'Poppins', sans-serif;
        position: absolute;
        color: var(--section-num-color);
        font-size: 273px;
        font-weight: bold;
        text-shadow: var(--num-shadow);
        
    }
    &__num2 {
        font-family: 'Poppins', sans-serif;
        position: absolute;
        color: var(--section-num-color);
        font-size: 273px;
        font-weight: bold;
        left: 120px;
        top: -50px;
        text-shadow: var(--num-shadow);
        opacity: 70%;
    }
    &__subTitle{
        position: relative;
        font-size: 18px;
        color: #616161;
        padding-bottom: 80px;
        
    }
}



.navHeader {
    display: flex;
    justify-content: space-between;
    margin: 24px 0px;
    font-family: 'Poppins', sans-serif;
}
.logo {
    display: block;
    background-image: url(../img/LOGO.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 97px;
    height: 27px;
}


// ----HEADER MENU
.mainMenu {
    display: flex;
    align-items: center; 

    :nth-child(9) {
        margin-right: 0px;
    }

    :hover {
        border-bottom: 2px solid red;
        transition: 0.5s;
    }
    :hover span {
        color: red;
        transition: 0.5s;
    }

    a {
        color: var(--menu-text-color);
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        margin-right: 20px;
        border-bottom: 2px solid transparent;

        .alwaysRed {
        color: red;
        }  
    }
}

// ----HEADER DANNER
.banHeader {
    text-align: center;
    background-image: url(../img/hederBannerBG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    .gradient{
        background-color: rgba(38, 39, 50, 0.85);
        z-index: 2;
        opacity: 70%;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    &__wrap {
        position: relative;
        z-index: 2;
    }

    .banTitle {
        width: 818px;
        color: #ffffff;
        font-family: "Libre Baskerville";
        font-size: 60px;
        font-weight: 400;
        padding-top: 175px;
        margin: 0 auto;
    }

    .features {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        padding: 0px 198px 176px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;

        h4 {
            padding-top: 25px;
        }
        .feaPic {
            background-image: url(../img/money.svg);
            background-repeat: no-repeat;
            background-position: center;
            height: 40px;

            &__two {
                background-image: url(../img/time.svg);
                background-repeat: no-repeat;
                background-position: center;
                height: 40px;
                
            }

            &__three {
                background-image: url(../img/satisfaction.svg);
                background-repeat: no-repeat;
                background-position: center;
                height: 40px;
                
            }
        }

    
        .feaTitle {
            color: #38c695;
        
            &__two {
                color: #b27cf5;
            }

            &__three {
                color: #feb960;
            }   
        }
    }

    .button {
        width: 180px;
        height: 50px;
        border-radius: 25px;
        background-color: #fc5f45;
        border: none;
        margin-top: 45px;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        
        p{
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

}

// ABOUT US BLOCK
.AboutUs {
    margin: 150px 0px;
    font-family: 'Libre Baskerville', serif;
    position: relative;

    .AbUsPic {
        background-image: url(../img/aboutUsPic.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 700px;
        width: 555px;
        box-shadow: 1px 1px 10px;

        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #fc5f45;
            left: 115px;
            top: 260px;
            z-index: -1;
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #b27cf5;
            z-index: -1;
            rotate: 90deg;
            top: 280px;
            left: -178px;
        }
          
    }

    .aboutBlock {
        width: 50%;
        position: absolute;
        background-color: #ffffff;
        left: 500px;
        top: 140px;
        box-shadow: 1px 1px 10px;


        &__wrap{
            position: relative;
        }
        &__contentWrap {
            position: relative;
            padding: 0 82px;
        }
        &__title {
            font-size: 50px;
            font-weight: bold;
            padding: 95px 0 50px 0;

        }

        &__lineGradient {
            display: flex;
            width: 100%;
            height: 3px;

            .red {
                background-color: #fc5f45;
                width: 25%;
            }
            .green {
                background-color: #38c695;
                width: 25%;
            }
            .purple {
                background-color: #b27cf5;
                width: 25%;
            }
            .orange {
                background-color: #feb960;
                width: 25%;
            }
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            padding-bottom: 105px;
        }
    }
}

// ------OUR FOCUS
.ourFocus {
    background-color: #f7f7f7;
    font-family: 'Poppins', sans-serif;

    &__Cards {
        display: flex;
        justify-content: space-between;
        padding-bottom: 150px;


        :nth-of-type(2) {
            border-bottom: 2px solid #38c695;
        }
        :nth-of-type(3) {
            border-bottom: 2px solid #b27cf5;
        }
        :nth-of-type(4) {
            border-bottom: 2px solid #feb960;
        }

    }
    &__card {
        max-width: 260px;
        background-color: #ffffff;
        text-align: center;
        box-shadow: 10px 15px 5px #edebeb;
        cursor: pointer;
        border-bottom: 2px solid #fc5f45;
        

        img {
            padding-top: 60px;
            height: 55px;
        }

        &__title {
            font-size: 20px;
            font-weight: 500;
            padding: 30px 0;
        }

        &__text {
            font-size: 15px;
            color: #616161;
            padding: 0 30px 65px;
        }

        &:hover {
            transition: 0.5s;
            transform: scale(1.2);
        }
        
    }
}

// ------BANNER FIRST( VIDEO SECTION)
.videoSection {
    background-color: #3f4049;
    background-image: url(../img/videoSectionLayout.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;

    &__title {
        padding: 150px 0px 40px;
        font-size: 30px;
    }
    &__descr {
        padding: 40px 0px 150px;
        font-size: 15px;
    }
    &__pic {
        background-image: url(../img/play.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 80px;
        height: 80px;
        margin: 0 auto;  
        cursor: pointer;
    }
      
        
          
}

// ------PORTFOLIO
.portfolio {
    font-family: 'Poppins', sans-serif;

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 160px;

        .one{
            background-image: url(../img/portfolio1.png);
        }
        .two{
            background-image: url(../img/portfolio2.png);
        }
        .three{
            background-image: url(../img/portfolio3.png);
        }
        .four{
            background-image: url(../img/portfolio4.png);
        }
        .five{
            background-image: url(../img/portfolio5.png);
        }
        .six{
            background-image: url(../img/portfolio6.png);
        }
        .seven{
            background-image: url(../img/portfolio7.png);
        }
        .eight{
            background-image: url(../img/portfolio8.png);
        }
        .nine{
            background-image: url(../img/portfolio9.png);
        }
    }
    &__card {
        width: 360px;
        height: 290px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 25px;
        cursor: pointer;

        &__hover {
            width: 100%;
            background-color: #fff;
            margin-top: 230px;
            height: 60px;
            
        }
        
    }
}

// ------TEAM
.team {
    background-color: #f7f7f7;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 150px;

    

    .team__cards {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-bottom: 50px;
        


        &__card {
            cursor: pointer;
            background-color: #ffffff;
            box-shadow: 1px 1px 5px  gray;
            
        }
        &__card:first-of-type{
            border-bottom: 2px solid #fc5f45; 
        }
        :nth-of-type(2) {
            border-bottom: 2px solid #38c695;
        }
        :nth-of-type(3) {
            border-bottom: 2px solid #b27cf5;
        }
        :nth-of-type(4) {
            border-bottom: 2px solid #feb960;
        }
        
        &__employee__name {
            font-size: 18px;
            font-weight: 500;
            padding-top: 20px;

            :first-child{
                color: #fc5f45;
            }
        }

        .employee__photo {
            
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 270px;
            width: 263px;

            &.first {
                background-image: url(../img/image1.png);
            }
            &.second {
                background-image: url(../img/image2.png);
            }
            &.third {
                background-image: url(../img/image3.png);
            }
            &.fourth {
                background-image: url(../img/image4.png);
            }
        }
        .employee__position{
            font-size: 13px;
            padding: 15px 0px 25px;
        }
        
    }
    
    .team_description_block {
        display: flex;
        flex-direction: column;
        
        // display: none;
        .team_description {
            
            background-color: #fff;
            font-family: 'Poppins', sans-serif;
            box-shadow: 5px 1px 5px #767676;
            
            &__wrap {
                display: flex;
                justify-content: space-between;
                padding: 75px 90px 70px;
            }
            &_text {
                max-width: 652px;
                
                
    
                h3 {
                    padding-bottom:25px;
                    font-size: 20px;
                    font-weight: 500;
                }
                p {
                    font-size: 15px;
                }
            }
    
            &__links {
                display: flex;
                flex-direction: column;
                margin: 50px 0px 0px 30px;
                font-size: 15px;
                
                a {
                    color: #767676;
                }

                &::before {
                    content: '';
                    height: 2px;
                    width: 100px;
                    background-color: #efefef;
                    transform: rotateZ(90deg);
                    left: -85px;
                    position: relative;
                    top: 40px;
                } 
            }
            img {
                height: 38px;
                margin: 70px 35px 0px 80px;
            }
            &.hide {
                display: none;
            }
            &.show {
                display: flex;
            }       
        }
    }
}      


//-----------BANNER SECOND
.statistic_section {
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/statisticBanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__gradient {
        background-color: #342e34;
        opacity: 50%;
        position: absolute;
        height: 100%;
        width: 100%;

    }

    &__cards {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 150px 20px;
    }
    &__card {
        text-align: center;
        font-weight: 500;

        &__title {
            margin: 35px 0px;
            font-size: 20px;
            color: #edebeb;
        }
        &__sub {
            font-size: 15px;
            color: #bebec0;
            padding-bottom: 40px;
        }
    }
}

// ---------WORK STEPS
.workSteps_wrap {
    font-family: 'Poppins', sans-serif;
    max-width: 556px;
    margin: 0 auto;
    padding: 50px 0px 150px;

    &__understanding {
        background-image: url(../img/projectA.jpg);
        height: 300px;
        position: relative;
    }
    &__planing {
        background-image: url(../img/research.jpg);
        height: 300px;
        position: relative;
    }
    &__design {
        background-image: url(../img/trebuetsa.jpg);
        height: 300px;
        position: relative;
    }
    &__develop {
        background-image: url(../img/develop.jpeg);
        height: 300px;
        position: relative;
    }

    &__card {
        display: flex;
        justify-content: space-between;
        position: absolute;
        background-color: #fff;
        left: -300px;
        top: -85px;
        box-shadow: -2px 0px 6px gray;
        border-bottom: 3px solid #fc5f45;

        &.g {
            border-bottom: 3px solid #b27cf5;
        }

        &.right {
            left: 400px;
            top: -100px;
            border-bottom: 3px solid #38c695; 
            box-shadow: 4px 0px 6px gray;

            &.o {
                border-bottom: 3px solid #feb960; 
            }
        }

        .num {
            font-family: 'Libre Baskerville', serif;
            font-size: 50px;
            font-weight: bold;
            color: #e0e0e0;
            padding: 40px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                background-color: #e0e0e0;
                height: 2px;
                width: 80%;
                transform: rotateZ(130deg);
                left: 30px;
                top: 80px;
            }
        }

        .card__wrap {
            margin: 75px 40px 75px 0px;
            width: 280px;

        }
        .card__title {
            font-size: 25px;
        }
        .card__discription {
            font-size: 15px;
            padding-top: 30px;
        }
    }

    
    

    
}

// ---------PRICING
.pricing {
    background-color: #f7f7f7;

    &__card {
        border-top: 2px solid #38c695;
        text-align: center;
        max-width: 360px;

        &:nth-of-type(2) {
            border-top: 2px solid #fc5f45;
        }
        &:nth-of-type(3) {
            border-top: 2px solid #b27cf5;
        }

        &__mainCircle {
            height: 113px;
            width: 113px;
            border-radius: 50%;

            &.green {
                background-color: #38c695;
            }
            &.red {
                background-color: #fc5f45;
            }
            &.purple {
                background-color: #b27cf5;
            }
        }

        &__secondaryCircle {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            border: 2px solid white;
            margin: 0 auto;
            top: 4px;
            position: relative;
            color: white;

            &.green {
                background-color: #38c695;
            }
            &.red {
                background-color: #fc5f45;
            }
            &.purple {
                background-color: #b27cf5;
            }

            & h5 {
                font-size: 25px;
                font-weight: bold;
                padding-top: 30px;
            }
        }
    }

    &__cards_wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-family: 'Poppins', sans-serif;
    }
    &__card__title {
        font-size: 20px;
        padding: 35px 0px;
        font-weight: 500;
    }
}


  
    



// -------ANIMATIONS
.cardDescrA {
    animation: descriprionAnimation 2s;
    transition: 5s;
}
@keyframes descriprionAnimation {
    from{ opacity: 0.1; }
    to{ opacity: 100; }
}