@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');
@import 'vars.scss';

body {
    font-family: 'Poppins', sans-serif, 'Libre Baskerville', serif;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1140px;
    margin: 0 auto;

    &__wrap{
        position: relative;
    }
}

.section{
    position: relative;
    font-family: 'Poppins', sans-serif;

    &__styles{
        text-align: center;
        position: relative;
        width: 50%;
        margin: 0 auto;
    }

    &__title{
        font-family: 'Libre Baskerville', serif;
        font-size: 50px;
        font-weight: bold;
        position: relative;
        padding: 145px 0 25px 0;
    }

    &__num {
        font-family: 'Poppins', sans-serif;
        position: absolute;
        color: var(--section-num-color);
        font-size: 273px;
        font-weight: bold;
        text-shadow: var(--num-shadow);
        
    }
    &__num2 {
        font-family: 'Poppins', sans-serif;
        position: absolute;
        color: var(--section-num-color);
        font-size: 273px;
        font-weight: bold;
        left: 120px;
        top: -25px;
        text-shadow: var(--num-shadow);
    }
    &__subTitle{
        position: relative;
        font-size: 18px;
        color: #616161;
        padding-bottom: 80px;
        
    }
}



.navHeader {
    display: flex;
    justify-content: space-between;
    margin: 24px 0px;
    font-family: 'Poppins', sans-serif;
}
.logo {
    display: block;
    background-image: url(../img/LOGO.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 97px;
    height: 27px;
}



.mainMenu {
    display: flex;
    align-items: center; 

    :nth-child(9) {
        margin-right: 0px;
    }

    :hover {
        border-bottom: 2px solid red;
        transition: 0.5s;
    }
    :hover span {
        color: red;
        transition: 0.5s;
    }

    a {
        color: var(--menu-text-color);
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        margin-right: 20px;
        border-bottom: 2px solid transparent;

        .alwaysRed {
        color: red;
        }  
    }
}




.banHeader {
    text-align: center;
    background-image: url(../img/hederBannerBG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    .gradient{
        background-color: rgba(38, 39, 50, 0.85);
        z-index: 2;
        opacity: 70%;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    &__wrap {
        position: relative;
        z-index: 2;
    }

    .banTitle {
        width: 818px;
        color: #ffffff;
        font-family: "Libre Baskerville";
        font-size: 60px;
        font-weight: 400;
        padding-top: 175px;
        margin: 0 auto;
    }

    .features {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        padding: 0px 198px 176px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;

        h4 {
            padding-top: 25px;
        }
        .feaPic {
            background-image: url(../img/head-icon1.png);
            background-repeat: no-repeat;
            background-position: center;
            height: 40px;

            &__two {
                background-image: url(../img/head-icon2.png);
                background-repeat: no-repeat;
                background-position: center;
                height: 40px;
                
            }

            &__three {
                background-image: url(../img/head-icon3.png);
                background-repeat: no-repeat;
                background-position: center;
                height: 40px;
                
            }
        }

    
        .feaTitle {
            color: #38c695;
        
            &__two {
                color: #b27cf5;
            }

            &__three {
                color: #feb960;
            }   
        }
    }
}


.button {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: #fc5f45;
    border: none;
    margin-top: 45px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    
    p{
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
    }
}

// ABOUT US BLOCK
.AboutUs {
    margin: 150px 0px;
    font-family: 'Libre Baskerville', serif;

    .AbUsPic {
        background-image: url(../img/aboutUsPic.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 700px;
        width: 555px;
        box-shadow: 1px 1px 10px;
          
    }

    .aboutBlock {
        width: 50%;
        position: absolute;
        background-color: #ffffff;
        left: 500px;
        top: 140px;
        box-shadow: 1px 1px 10px;


        &__wrap{
            position: relative;
        }
        &__contentWrap {
            position: relative;
            padding: 0 82px;
        }
        &__title {
            font-size: 50px;
            font-weight: bold;
            padding: 95px 0 50px 0;

        }

        &__lineGradient {
            display: flex;
            width: 100%;
            height: 3px;

            .red {
                background-color: #fc5f45;
                width: 25%;
            }
            .green {
                background-color: #38c695;
                width: 25%;
            }
            .purple {
                background-color: #b27cf5;
                width: 25%;
            }
            .orange {
                background-color: #feb960;
                width: 25%;
            }
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            padding-bottom: 105px;
        }
    }
}


.ourFocus {
    background-color: #f7f7f7;
    font-family: 'Poppins', sans-serif;

    &__Cards {
        display: flex;
        justify-content: space-between;
        padding-bottom: 150px;
    }
    &__card {
        max-width: 260px;
        background-color: #ffffff;
        text-align: center;
        box-shadow: 10px 15px 5px #edebeb;

        img {
            padding-top: 60px;
            height: 55px;
        }

        &__title {
            font-size: 20px;
            font-weight: 500;
            padding: 30px 0;
        }

        &__text {
            font-size: 15px;
            color: #616161;
            padding: 0 30px 65px;
        }

        &__line {
            height: 2px;
            background-color: #fc5f45;
            
            &__green {
                background-color: #38c695;
                height: 2px;
            }
            &__purple {
                background-color: #b27cf5;;
                height: 2px;
            }
            &__orange {
                background-color: #feb960;
                height: 2px;
            }
        }
        
    }


}


.videoSection {
    background-color: #3f4049;
}

.portfolio {
    font-family: 'Poppins', sans-serif;

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__card {
        width: 360px;
        height: 290px
    }
}
.team {
    background-color: #f7f7f7;
}


