body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-image: url(../img/boby_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.container {
  max-width: 1678px;
  margin: 0 auto;
}

.btn {
  font-family: 'Roboto', sans-serif;
  width: 171px;
  height: 57px;
  background: #F2C94C;
  border-radius: 30px;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 25px;
  cursor: pointer;
}

.btn.craftBtn {
  width: 238px;
  margin-top: 62px;
}

.btn.formBtn {
  width: 238px;
  margin: 30px auto 0;
  display: block;
}

.btn:hover {
  background: #141313;
  color: #F2C94C;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header {
  background-image: url(../img/baner1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .header_title {
  text-align: center;
  padding: 120px 0 750px;
}

header .header_title h1 {
  font-family: 'Lobster', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 100px;
}

header .header_title p {
  font-size: 25px;
  line-height: 29px;
  color: #F2F2F2;
  margin-top: 6px;
}

.section_title {
  text-align: center;
  font-family: 'Lobster', cursive;
  color: #EABF3C;
  padding-top: 50px;
}

.section_title h3 {
  font-size: 60px;
  line-height: 65px;
}

.catering_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 50px 0;
  max-width: 1354px;
  margin: 0 auto;
}

.catering_card {
  margin: 0 auto;
  max-width: 240px;
  height: 274px;
  cursor: pointer;
  overflow: hidden;
}

.catering_card img {
  padding-top: 17px;
}

.catering_card h5 {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  line-height: 109%;
  margin: 20px 0px 13px;
}

.catering_card p {
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 19px;
}

.catering_card:hover {
  background: #EABF3C;
  border-radius: 24px;
  color: #333333;
}

.craft {
  padding-top: 131px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.craft h4 {
  font-family: 'Lobster', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 109%;
}

.craft p {
  padding: 17px 0px;
  font-size: 25px;
  line-height: 29px;
  color: #F2F2F2;
}

.craft_menu {
  max-width: 710px;
  padding: 40px 0 105px;
  margin: 0 auto;
}

.craft_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 710px;
  margin: 0 auto;
  padding-bottom: 105px;
}

.craft img:first-of-type {
  margin-right: 15px;
}

.product .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 53px;
}

.product_card {
  position: relative;
  text-align: center;
  min-width: 255px;
  padding-top: 100px;
}

.product_preview {
  position: absolute;
  width: 147px;
  padding: 13px 0;
  background: #EB5757;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  top: -50px;
  left: 50px;
}

.product_size-quantity {
  padding-top: 20px;
  font-size: 25px;
  line-height: 31px;
  font-family: 'Lobster', cursive;
}

.product_cook {
  margin: 200px auto 0;
  max-width: 1025px;
  min-height: 236px;
  background: #EABF3C;
  border-radius: 24px;
  color: #333333;
  text-align: center;
}

.product_cook h2 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  line-height: 65px;
  padding: 29px 0 17px;
}

.product_cook p {
  font-size: 25px;
  line-height: 29px;
  max-width: 710px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.recepts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 180px;
}

.recepts_img {
  margin: 0 auto;
  padding-top: 180px;
  max-width: 583px;
}

.recepts_img img {
  width: 100%;
}

.recepts_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 180px;
}

.recepts_order {
  max-width: 922px;
  margin: 0 auto;
  padding-bottom: 35px;
}

.recepts_order h2 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  line-height: 65px;
  color: #EABF3C;
}

.recepts_order p {
  margin: 20px 0;
  max-width: 922px;
  font-size: 25px;
  line-height: 29px;
  color: #F2F2F2;
}

.recepts_decscr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 40px;
  max-width: 1060px;
}

.recepts_decscr__card {
  position: relative;
  margin: 30px 5px 0px;
  max-width: 235px;
}

.recepts_decscr__card:first-of-type {
  margin-left: 0;
}

.recepts_decscr__card:nth-of-type(3) p {
  top: 35px;
}

.recepts_decscr__card P {
  font-family: 'Lobster', cursive;
  position: absolute;
  top: 70px;
  left: 10px;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  max-width: 225px;
}

.price {
  padding-bottom: 180px;
}

.price_title {
  text-align: center;
  color: #F2F2F2;
}

.price_title h2 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  line-height: 65px;
  text-align: center;
  color: #F2F2F2;
}

.price_title p {
  font-size: 25px;
  line-height: 29px;
  padding: 25px 0 50px;
}

.price_form input {
  background: transparent;
  width: 198px;
  height: 57px;
  border: 1px solid #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  padding-left: 20px;
  font-size: 18px;
  color: #F2F2F2;
}

.price_form input:focus {
  background: transparent;
  border: 1px solid #F2C94C;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.price_form label {
  font-size: 16px;
  line-height: 19px;
  color: #F2C94C;
  padding-left: 10px;
}

.price_form .col-xl-2,
.price_form .col-lg-4,
.price_form .col-md-6,
.price_form .col-sm-12 {
  margin: 23px 0;
}

.discount {
  padding-bottom: 180px;
}

.discount_wrap {
  max-width: 1284px;
  border-radius: 25px;
  background-image: url(../img/discount.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 125px;
}

.discount_wrap h2 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  line-height: 65px;
  color: #EABF3C;
  padding-top: 80px;
}

.discount_wrap p {
  font-size: 25px;
  line-height: 29px;
  color: #F2F2F2;
  max-width: 964px;
  padding-top: 25px;
  margin: 0 auto;
}

.recall {
  position: fixed;
  width: 80px;
  height: 80px;
  background-color: #141313;
  border-radius: 50%;
  text-align: center;
  top: 85%;
  left: 90%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #F2C94C;
  font-size: 30px;
  opacity: 80%;
}

footer {
  text-align: center;
  color: #F2F2F2;
  padding-bottom: 100px;
}

footer h2 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  line-height: 65px;
}

footer a {
  font-size: 25px;
  line-height: 29px;
  margin: 0 14px;
}

footer a:hover {
  color: #EABF3C;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */